body{background-color:#FFF;}
header.navbar{border:none;}
.page{background-color:#FFF;min-height:500px;padding-top:50px;}
.page h3{font-size:16px;}.page h2{font-size:1.3em;line-height:1.5em;font-weight:bold;}
.heading h1{margin-bottom:0;line-height:1.2em;font-size:2em;font-weight:bold;text-align:center;}
.page p,.page ul.main-content>li{font-size:16px;line-height:1.6em;text-align:justify;margin-top:1.4em;}
.page figcaption{font-style:italic;text-align:center;font-size:0.9em;color:#666;margin:5px auto;margin-bottom:10px;}
.page ol{margin:0 0 1.5em;padding:0;counter-reset:item;margin-bottom:50px;}ol>li{margin:0;padding:0 0 0 2em;text-indent:-2em;list-style-type:none;counter-increment:item;}
.page ul.main-content{list-style:none;margin:0;}
.page ol>li:before{display:inline-block;width:1.5em;padding-right:0.5em;font-weight:bold;text-align:right;content:counter(item) ".";}
.page p img,.page>ol>li img,.page ul.main-content>li img{width:80%;margin:20px auto;margin-bottom:0px;display:block;box-shadow:2px 3px 7px rgba(0,0,0,.3);}.page img.img-responsive{max-width:100%;}
.heading{text-align:center;}
.heading-star{padding:20px 0;font-size:26px;}
.heading-star .fa-star{color:#FFF;}.rated .fa-star,.rated .fa-star-o{font-size:24px;}.fa-star{color:#EEC760;}.fa-star-o{color:#ccc;}.step-update-cv ul{list-style:none;padding:0;margin:60px 0 0 0;}.step-update-cv ul li{margin-bottom:30px;font-size:16px;font-weight:300;line-height:60px;}.step-update-cv ul li span{font-size:16px;font-weight:bold;background-color:#FFFFFF;color:#1ABC9C;-webkit-border-radius:40px;-moz-border-radius:40px;border-radius:40px;border:1px solid;padding:15px;margin-right:20px;}img.screenshot{width:68%;margin-top:10px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;box-shadow:2px 3px 7px rgba(0,0,0,.3);}
.step{font-weight:bold;margin-top:15px;}
.see-more-post{margin-bottom:20px;margin-top:20px;border-top:1px solid #ccc;}
.see-more-post ul{list-style:inherit;}.see-more-post ul li{margin-top:3px;}
.see-more-post a{font-size:16px;line-height:1.6em;}.banner-footer{margin-bottom:50px;}
.page .btn-create-cv{width:200px;margin:10px auto;display:block;}
.seo .btn-download{background-color:#00B692;color:#FFF;padding:5px;width:205px;margin:5px auto;margin-bottom:20px;text-align:center;line-height:20px;font-size:20px;}
.seo .btn-download:hover{background-color:#0E967B;}.seo .btn-download i{vertical-align:middle;}
.seo .btn-download a{color:#FFF;line-height:20px;font-size:20px;}