body{color:#333;background-color:#fff;}ol,ul{margin:0px 0px 0px 10px;padding:0;}
a{color:#3aa3e3;cursor:pointer;}
a:focus,
a:hover{color:#3aa3e3;}
c{color:#ff0000;cursor:pointer;}
c:focus,
c:hover{color:#ff0000;}
.no-gutter>[class*='col-']{padding-right:0;padding-left:0;}
.bold{font-size:bold;}
.btn{border-radius:0;font-weight:300;padding:9px 15px;font-size:16px;}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{outline:none;}
.btn-topcv{color:#fff;background-color:#019C7C;border:none;}
.btn-topcv:hover,.btn-topcv.active,.btn-topcv.focus,.btn-topcv:active,.btn-topcv:focus,.btn-topcv:hover,.open>.dropdown-toggle.btn-topcv{color:#fff;background-color:#2d9e77;cursor:pointer;}
.btn-facebook{color:#ffffff;background-color:#3b5998;border-color:#3b5998;}
.btn-facebook:hover{color:#ffffff;background-color:#4361A1;border-color:#4361A1;}
.navbar-default{background-color:#fff;border:none;border-bottom:1px solid #e5e5e5;margin-bottom:0px;}
.navbar-brand{padding:10px 20px;height:60px;margin-right:20px;}.navbar-nav>li{margin:0px 10px;}
.navbar-nav>li>a{line-height:30px;padding:15px 10px 11px 10px;font-size:16px;border-bottom:4px solid #fff;}
.navbar-default .navbar-nav>li>a{color:#666;}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{background-color:#fff;color:#3aa3e3;border-color:#3aa3e3;font-weight:500;}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#3aa3e3;}
.panel{border-radius:0;box-shadow:none;}
.panel-body{padding:30px;}
.form-control{box-shadow:none;width:100%;}
.form-control:focus{box-shadow:none;}
.modal-content{border-radius:0;}
.alert{border-radius:0;}
.no-border{border:none;}

#main{min-height:300px;}
footer{
background-color:#3a5795;

color:#fff;padding:40px 0px;}

footer a{color:#fff;}
footer a:hover,footer a:focus,footer a:active{color:#fff;}
footer ul{list-style:none;padding:0;margin:0;}
footer p{color:#ffffff;font-size: 1.5em;font-weight:bold;}
footer .logo{display:block;}@media (max-width: 768px) {footer .logo img{margin:0 auto;}}footer ul>li{margin-bottom:6px;}
footer ul>li>a>span[class^="icon-"]{display:inline-block;width:20px;text-align:center;}

#cv-toolbar{background-color:#fafafa;height:60px;border-bottom:1px solid #e8e8e8;margin-top:-40px;padding-top:10px;}
#cv-toolbar.fixed{position:fixed;top:0;left:0;width:100%;margin:0;}
#cv-toolbar .btn.pull-left{margin-right:10px;}
#cv-title{display:inline-block;outline:1px dashed #ccc;padding:0px 20px;height:40px;min-width:300px;line-height:40px;font-size:16px;font-weight:400;}#cv-container{padding:60px 0px 100px;}
#cv-layout{}.cvo-document .cvo-page{width:210mm;min-height:290mm;padding:20mm;margin:0mm auto;box-shadow:0 0 2px rgba(0,0,0,0.4);background-color:white;overflow:hidden;}
#template-filter{}
#template-filter ul{list-style:none;padding-left:0;margin-bottom:30px;}
#template-filter ul li{margin-bottom:6px;}
#template-filter ul a{color:#333;padding-left:15px;position:relative;}
#template-filter ul a span.icon-angle-right{display:none;margin-right:4px;position:absolute;left:0px;}
#template-filter ul li.active a span.icon-angle-right{display:inline;}
#template-filter ul a:hover{color:#39b188;}
#template-filter ul a:hover span.icon-angle-right{display:inline;}
#template-container{padding:10px 0px 10px;}.save-cv-success-message{font-size:3.5em;margin:0.8em 0 1.2em;}
#save-cv-container{}#user-sidebar{}
#user-sidebar .avatar{margin-bottom:30px;display:block;}
#user-sidebar ul{list-style:none;padding:0;}
#user-sidebar ul li{margin-bottom:6px;}
#user-sidebar ul li a{color:#444;font-weight:400;font-size:15px;}
#user-sidebar ul li a:hover{color:#39b188;}
.blur img{filter:blur(1px);-webkit-filter:blur(1px) grayscale(.1) opacity(0.8);-moz-filter:blur(1px) grayscale(.1) opacity(0.8);-o-filter:blur(1px) grayscale(.1) opacity(0.8);-ms-filter:blur(1px) grayscale(.1) opacity(0.8);}
.blur img:hover{filter:blur(0);-webkit-filter:blur(0);-moz-filter:blur(0);-o-filter:blur(0);-ms-filter:blur(0);}
.sepia img{filter:sepia(1);-webkit-filter:sepia(1);-moz-filter:sepia(1);-o-filter:sepia(1);-ms-filter:sepia(1);}
.sepia img:hover{filter:sepia(0);-webkit-filter:sepia(0);-moz-filter:sepia(0);-o-filter:sepia(0);-ms-filter:sepia(0);}
.grayscale img{filter:grayscale(1);-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-o-filter:grayscale(1);-ms-filter:grayscale(1);}
.grayscale img:hover{filter:grayscale(0);-webkit-filter:grayscale(0);-moz-filter:grayscale(0);-o-filter:grayscale(0);-ms-filter:grayscale(0);}
@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);}50%{-webkit-transform:rotate(180deg);transform:rotate(180deg);}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
#loader-overlay{display:none;z-index:9696969;position:absolute;width:100%;height:300px;top:150px;left:0;}
#loader-overlay .loader{position:absolute;top:150px;left:50%;margin-left:-58px;height:116px;width:116px;background:transparent!important;}
@-webkit-keyframes ball-grid-pulse{0%{-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(0.5);transform:scale(0.5);opacity:0.7;}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1;}}
@keyframes ball-grid-pulse{0%{-webkit-transform:scale(1);transform:scale(1);}50%{-webkit-transform:scale(0.5);transform:scale(0.5);opacity:0.7;}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1;}}
.ball-grid-pulse{width:57px;}
.ball-grid-pulse>div:nth-child(1){-webkit-animation-delay:0.73s;animation-delay:0.73s;-webkit-animation-duration:1.3s;animation-duration:1.3s;}
.ball-grid-pulse>div:nth-child(2){-webkit-animation-delay:0.32s;animation-delay:0.32s;-webkit-animation-duration:1.3s;animation-duration:1.3s;}
.ball-grid-pulse>div:nth-child(3){-webkit-animation-delay:0.71s;animation-delay:0.71s;-webkit-animation-duration:0.88s;animation-duration:0.88s;}
.ball-grid-pulse>div:nth-child(4){-webkit-animation-delay:0.62s;animation-delay:0.62s;-webkit-animation-duration:1.06s;animation-duration:1.06s;}
.ball-grid-pulse>div:nth-child(5){-webkit-animation-delay:0.31s;animation-delay:0.31s;-webkit-animation-duration:0.62s;animation-duration:0.62s;}
.ball-grid-pulse>div:nth-child(6){-webkit-animation-delay:-0.14s;animation-delay:-0.14s;-webkit-animation-duration:1.48s;animation-duration:1.48s;}
.ball-grid-pulse>div:nth-child(7){-webkit-animation-delay:-0.1s;animation-delay:-0.1s;-webkit-animation-duration:1.47s;animation-duration:1.47s;}
.ball-grid-pulse>div:nth-child(8){-webkit-animation-delay:0.4s;animation-delay:0.4s;-webkit-animation-duration:1.49s;animation-duration:1.49s;}
.ball-grid-pulse>div:nth-child(9){-webkit-animation-delay:0.73s;animation-delay:0.73s;-webkit-animation-duration:0.7s;animation-duration:0.7s;}.ball-grid-pulse>div{background-color:#39b188;width:30px;height:30px;border-radius:100%;margin:4px;-webkit-animation-fill-mode:both;animation-fill-mode:both;display:inline-block;float:left;-webkit-animation-name:ball-grid-pulse;animation-name:ball-grid-pulse;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-delay:0;animation-delay:0;}
#exportMask{position:fixed;display:none;z-index:20071992;top:0;left:0;background-color:rgba(29,31,31,0.8);width:100%;height:100%;color:black;text-align:center;}
#exportMask .export-done,#exportMask .export-loading{padding-top:100px;width:700px;margin:150px auto;padding:30px 20px;background-color:#FFF;display:none;position:relative;}
#exportMask .export-done a{color:rgb(52,73,94);font-size:16px;}
#exportMask .export-done a:hover{text-decoration:underline;}
#exportMask .foxit-reader{position:relative;border:1px solid #ccc;margin-top:20px;padding:20px;background-color:#F5F2F2;font-style:italic;}
#exportMask .foxit-reader h4{font-size:16px;color:#333;line-height:30px;}
#exportMask .foxit-reader span{color:#333;}#exportMask .foxit-reader a{color:#18B18F;}
#exportMask .foxit-reader span.fa-stack{font-size:15px;position:absolute;top:3px;left:3px;color:rgba(197,197,197,1);}
.modal{top:50px;}.modal p{font-size:18px;}.modal-title{margin:20px auto 0;text-align:center;padding-bottom:5px;font-weight:100;font-size:40px;}.text-blue{color:#19BB9B;}.font-regular{font-weight:400;}
.modal-btn-wrapper{padding-top:20px;border-top:1px solid #d2d2d2;text-align:center;}#exportMask .export-done button{border:0;border-radius:3px;width:200px;height:50px;margin:0px 6px;}
#exportMask .export-done button a{color:#FFF;cursor:pointer;font-size:20px;}
#exportMask button.facebook{background-color:#4662a2;-webkit-box-shadow:0 3px 0 #395085;box-shadow:0 3px 0 #395085;}
#exportMask button.twitter{background-color:#56abf3;-webkit-box-shadow:0 3px 0 #4a93d0;box-shadow:0 3px 0 #4a93d0;}
#exportMask button.gplus{background-color:#d34836;-webkit-box-shadow:0 3px 0 #b73f2f;box-shadow:0 3px 0 #b73f2f;}
#exportMask button i{float:left;width:20%;font-size:21px;display:inline-block;position:relative;top:3px;}
#exportMask button i:after{content:'';display:block;position:absolute;right:0;top:-9px;width:1px;height:35px;background-color:rgba(0,0,0,0.3);}
#exportMask button span{text-transform:uppercase;width:73%;font-size:12px;display:inline-block;margin-top:2px;vertical-align:top;}
#exportMask .btnCloseExportMask{position:absolute;font-size:30px;right:15px;top:15px;color:#34495E;cursor:pointer;}
.promo{position:fixed;bottom:0;right:10px;z-index:10000;background-color:#fff4ba;padding:10px 20px;}
.popup{display:none;}
.topcv-select2{width:100%;}
.select2-container{}.select2-container .select2-selection--single{height:40px!important;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height:40px!important;padding-left:15px!important;}
.select2-container .select2-selection--multiple{min-height:40px!important;}.select2-container--default .select2-selection--multiple{border:1px solid #ccc!important;border-radius:3px!important;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered{padding:3px 10px!important;}
.select2-container--default .select2-selection--single{border-color:#ccc!important;outline:none;}.select2-search.select2-search--dropdown>input{outline:none;}.select2-selection__arrow{height:40px!important;}
#main-content{margin-top:20px;}.box{background-color:#fff;margin-bottom:20px;border:1px solid #e5e5e5;padding:20px 25px;position:relative;border-radius:3px;}.box:before{content:" ";height:100%;width:5px;display:block;position:absolute;top:0;left:0;}
.box-info:before{background-color:#3aa3e3;}.box-success:before{background-color:#2ab27b;}
.box-title{font-weight:400;margin-top:0px;}.box-desc{font-size:16px;line-height:1.4em;margin:0px 0px 20px 0px;}
#cv-list{margin-bottom:30px;}
#cv-list .cv{min-height:90px;border-top:1px solid #ddd;padding:15px 0px;}
#cv-list .cv:last-child{border-bottom:1px solid #ddd;}
#cv-list .cv .cv-thumb{display:block;border:1px solid #ddd;margin:5px 15px 5px 0px;}
#cv-list .cv .cv-title a{color:#444;}
#cv-list .cv .cv-title a:hover{color:#3aa3e3;}.cv-url{font-size:16px;color:#777;border:1px dotted #ccc;padding:5px 10px;cursor:pointer;}.cv-url:hover{color:#444;}#cv-list .cv .cv-url{margin-bottom:8px;}
#cv-list .cv .cv-action{list-style:none;margin:0;padding:0;}
#cv-list .cv .cv-action li{display:inline-block;margin-right:14px;}
#cv-list .cv .cv-action li a{font-size:14px;font-weight:500;color:#444}
#cv-list .cv .cv-action li a:hover{color:#3aa3e3;}
#cv-list .cv .cv-date{margin-top:10px;font-size:14px;color:#777;}
.job-list{position:relative;margin-bottom:10px;}
.job-list .job{border-top:1px solid #ddd;padding:20px 0px;}
.job-list.small .job{padding:10px 0px;}
.job-list .job:last-child{border-bottom:1px solid #ddd;}
.job-list .company-logo{display:block;border:1px solid #ddd;margin:0 15px 0 0;}
.job-list .job-title{margin:0px 0px 10px 0px;}.job-list .job-title a{color:#3aa3e3;}
.job-list.small .job-title{margin-bottom:5px;font-size:16px;}.job-list .company-name{font-weight:500;font-size:15px;}
.job-list .company-name a{color:#666;}.job-list.small .company-name{margin-bottom:5px;}
.job-list .job-salary{font-size:14px;margin-bottom:0px;}
.block-layer{position:absolute;top:0;left:0;width:102%;margin-left:-1%;height:100%;background-color:rgba(235,235,235,0.86);display:table-cell;}
.block-layer .block-message{background-color:rgba(255,255,255,0.8);min-height:80px;width:80%;border-radius:5px;box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15);position:absolute;margin-top:80px;margin-left:10%;padding:20px 5px 10px;}
.btn{padding:8px 12px;border-radius:3px;}.btn-warning{background-color:#fa7921;border-color:#fa7921;}